<h3>Меню</h3>
<!-- <% @institution.each do |institution| %>
    <div class="alert alert-light">
<p><%= institution.title %></p>
<p><%= institution.type_dishes %></p>
<p><%= institution.photo %></p>
<p><%= institution.clock_start %></p>
<p><%= institution.clock_end %></p>
<%= link_to "Read more",institution_path(institution), :class => 'btn btn-default' %>
<br><br> <br>
</div>
<% end %>-->
<div class="row">
<% @institution.each do |institution| %>
   <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <img src= <%= institution.photo %> />
    <div class="card-body">
    <p class="title"><%= institution.title %></p> 
    <div>
    <span class="clock"><%= institution.clock_start %></span> -
    <span class="clock"><%= institution.clock_end %></span>
    </div>
    <%= link_to "Меню",institution_path(institution), :class => 'btn btn-menu ' %>
    
    </div>
    </div>
   </div>
<% end %>
</div>
<div class="pagination d-flex justify-content-center align-items-center">
<%= link_to "Минула сторiнка", institutions_path(page: @page - 1), :class => 'btn btn-pagination  ' %>
<%= link_to "Наступна сторiнка", institutions_path(page: @page + 1), :class => 'btn btn-pagination' %>
</div>