<h2><%= @institution.title %></h2>
<div class="row">
    <% @institution.menus.each do |institution| %>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src=<%= institution.photo %> />
            <div class="card-body">
                <p class="name"><%= institution.name %></p>
                <p class="description"><%= institution.description %></p>
                <p class="weight"><%= institution.weight %> г</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn buttons"><i class="fas fa-plus"></i></button>
                    <span class="price"><%= institution.price %> </span>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
<button class="btn-cart"><i class="fas fa-shopping-cart"></i></button>


<br><br>
<div class="adr ">
    <div class="row">
        <div class="col-10 offset-1">
            <table class="table" id="basket">
                <thead>
                    <tr>
                        <th class="text-center">Назва</th>
                        <th class="text-center">Вартiсть</th>
                        <th class="text-center">Кiлькiсть</th>
                        <th class="text-center">Пiдсумок</th>
                    </tr>
                </thead>
                <tbody class="tbody">


                </tbody>
            </table>
            <div class="total-price fw-bold text-end pr-2">Всього: <span class="total-price" id="total-price"></span>
                грн</div>
        </div>
    </div> 
<%= form_for :users, url: users_path do |f| %>
    <p>
    I&apos;мя <br>
     <%= f.text_field(:name, {:class=> 'form-control'}) %>
    </p>
    <p>
    Телефон<br>
     <%= f.text_field(:phone, {:class=> 'form-control'}) %>
    </p> 
<% end %> 
    <input class="favorite styled btn btn-order"
    type="button"
    value="Зберегти">
</div>
<div class="order">
<div class="message"> 
<p class="message-title">Замовлення прийнято!</p>
<p class="message-text">Очiкуйте доставки</p>
</div>
</div>
<br><br>
<h2>Добавление новых постов:</h2>
<%= form_for([@institution, @institution.menus.build]) do |f| %>
<p>
    Название <br>
    <%= f.text_field(:name, {:class=> 'form-control'}) %>
</p>
<p>
    Weight<br>
    <%= f.text_field(:weight, {:class=> 'form-control'}) %>
</p>
<p>
    price <br>
    <%= f.text_field(:price, {:class=> 'form-control'}) %>
</p>
<p>
    photo<br>
    <%= f.text_field(:photo, {:class=> 'form-control'}) %>
</p>
<p>
    description <br>
    <%= f.text_field(:description, {:class=> 'form-control'}) %>
</p>

<%= f.submit("Add",{:class=> 'btn btn-warning'}) %>
</p>
<% end %>
 